<div class="position-absolute">
    <nav class="container navigation">
    <ul class="d-flex justify-content-around  list-unstyled">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/edit">Edit</a></li>
        <li><a href="/delete">Delete</a></li>
    </ul>
</nav>
</div>
